body{
    background-image: url("https://www.worldatlas.com/upload/06/df/25/shutterstock-1168009126.jpg");
}

h1{
    font-family: "Rye", serif;
    color:rgb(249, 242, 209);
    text-shadow: 5px 5px black;
}

h4{
    font-family: "Rye", serif;
    color:rgb(249, 242, 209);
    text-shadow: 5px 5px black;

}