body{
    background-image: url(https://i.pinimg.com/736x/19/26/96/1926962aa59a37472811089bf5201409.jpg);
    background-size:100vw 100vh;
}

#lock{
    background: none;
    border: none;
    margin-top: 280px;
    margin-left:510px;
}

#Iconic_Quotes{
    background-color: plum;
    height:520px;
    margin-left:20px;
}

.quotespics{
    width: 300px;
    height:200px;
}
#firstrow{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
}
#pickamovie{
    justify-content: row;
}
#firstrowchoosing{
    display:flex;
    justify-content:space-around;
}
#secondrowchoosing{
    display:flex;
    justify-content:space-around;
}
