body{
    background-image: url("https://media.architecturaldigest.com/photos/579a7e9fb6c434ab487bc174/16:9/w_2580,c_limit/greek-architecture-001.jpg");
}

h1{
    font-family: "Rye", serif;
    color:rgb(249, 245, 227);
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

h4{
    font-family: "Rye", serif;
    color:rgb(249, 245, 227);
    text-shadow: 1px 1px 5px black;
    text-align: center;
}


#button-container {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 100vh;  /* Full height of the screen */
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers exactly */
    
    padding: 7px;
    font-family: "Rye", serif;
    font-size: 20px;
    border-style: inset;
    border-radius: 10px;
    border-width: 10px;
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
}



#button:hover{
    padding: 7px;
    font-family: "Rye" , serif;
    font-size:20px;
    border-style: inset;
    border-radius: 10px;
    border-color: darkgrey;
    border-width: 10px;
    background-color:white;
    color:black;
}

#button:active{
    padding: 7px;
    font-family: "Rye" , serif;
    font-size:20px;
    border-style: outset;
    border-radius: 10px;
    border-color: darkgrey;
    border-width: 10px;
    background-color:white;
} 

#riddles {
    font-family: Arial;
    font-size: 20px;
    color: black;
    border-color: black;
    background-color: white;
    width: 170px;
    padding: 20px;
    border-radius: 50px;
    height: 100px;

    position: relative;
    left: 300px;   /* Move right */
    top: 200px;    /* Move down */
}


#athena {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    margin: 0;
}


#mission {
    font-family: Arial;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    background-color: white;
    width: 180px;
    padding: 20px;
    border-radius: 50px;
    height: 100px;

    position: fixed;
    top: 200px;
    left: 400px; /* Pinned to right side */
}



#hephaestus {
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    height: 100%;
    width: 60%;
  
    position: fixed;
    bottom: -100px;
    left: 50%;                 /* move to center of screen */
    transform: translateX(-50%);
    margin: 0;
  }
  
