body {
    direction: rtl;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 500px; /* אתה יכול לשנות את הגובה בהתאם */
}

.background {
    width: 100%;
    height: 20%;
    
}

.small-image {
    position: absolute;
    top: 20px; /* המרחק מהחלק העליון */
    left: 20px; /* המרחק מהחלק השמאלי */
    width: 100px; /* גודל התמונה הקטנה */
    cursor: pointer; /* סמן משתנה כשמעבירים מעל התמונה */
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px; }