
.flex-container {
    display: flex;
    height: 90px;
    background-color: #46d3f0;  
    align-items: stretch;
}

body{
  background-color:#4682b4;
 
}
 

h1{
    color:#171717;}
    
    h2{
        color:#171717;}

h3{
    color:#171717;}

